h1 {
    text-align: center;
    color: white;
}

.line {
  height: 2px;
  width: 200px;
  background-color: gray;
  margin: 0 auto;
  margin-bottom: 20px;
}

.tasks-list {
    width: 500px;
    margin: auto;
    max-width: 100%;
}

.tasks-input {
    width: 500px;
    margin: auto;
    max-width: 100%;
}
